* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-size: 1rem;
}

.container {
    background-image: url(/images/churrascometro-bg1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
}

.content {
    font-family: 'Open Sans Condensed', sans-serif;
    max-width: 500px;
    width: 100%;
    margin: auto;
    background-color: #dbbd8fa4;
    padding: 40px;
    border-radius: 10px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

h1 {
    font-size: 2rem;
    padding: 10px 0;
    text-align: center;
    color: #ffefeb;
    text-shadow: rgba(0, 0, 0, 0.479) 2px 2px 2px;
}

input {
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid rgb(160, 159, 159);
    font-size: 18px;
    text-align: center;
}

button {
    background-color: #D0201A;
    padding:10px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
    box-shadow: #412723 2px 2px 2px ;
    text-transform: uppercase;
    font-weight: bold;
    color: antiquewhite;
    cursor: pointer;
}
button:hover {
    background-color: #e0241d;
    box-shadow: #412723 4px 4px 2px ;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 600px){
    .content {
        position: relative;
        margin: auto;
    }

    .container {
        padding: 40px;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 1.5rem;
    }

    input {
        font-size: 16px;
    }

    button {
        margin: 10px auto;
        padding:10px;
        font-size: 12px;
        color: antiquewhite;
    }    
}

